/* Podstawowe style dla sidebar */
.sidebar_main {
    width: 12.5%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-right: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative; /* Potrzebne do menu wysuwanego */
    transition: width 0.3s ease; /* Płynne przejście przy zmianie rozmiaru */
}

.logo-container {
    margin-bottom: 30px;
}

.logo {
    width: 180px;
    height: auto;
}

/* Styl dla linków menu */
.menu-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

/* Styl linków */
.menu-links a {
    text-decoration: none;
    color: #fff;
    font-family: "Cinzel", serif;
    font-size: 19px;
    padding: 15px 0;
    line-height: 1.6;
    transition: color 0.3s;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Zmiana koloru po najechaniu */
.menu-links a:hover {
    background-color: #d4af37;
    transform: scale(1.02);
    transition: background-color 0.4s ease-in-out, transform 0.2s ease-in-out;
}

/* Styl dla aktywnych linków */
.menu-links a.active {
    background-color: #d4af37;
}

/* Hamburger menu */
.hamburger {
    display: none; /* Ukryj menu hamburgerowe na dużych ekranach */
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    cursor: pointer;
}

.hamburger svg {
  color: #d4af37; /* Zmień #333 na dowolny inny kolor */
}

/* Pozycja wysuwanego menu */
.menu-links.show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    z-index: 9999;
}

/* Dla dużych ekranów */
@media (min-width: 768px) {
    .sidebar_main {
        width: 12.5%;
    }
    .hamburger {
        display: none; /* Hamburger ukryty na większych ekranach */
    }
    .menu-links {
        display: flex;
        flex-direction: column;
    }
}

/* Dla małych ekranów */
@media (max-width: 767px) {
    .sidebar_main {
        width: 0; /* Ukryj menu boczne na małych ekranach */
        padding: 0;
        border-right: none;
    }

    .hamburger {
        display: block; /* Pokaż hamburger na małych ekranach */
    }

    .logo {
        display: none;
    }
    .menu-links {
        display: none; /* Ukryj linki, gdy menu jest zamknięte */
    }

    .menu-links.show {
        display: block; /* Pokaż linki po otwarciu */
    }

    .portfolio-details h2 {
        text-align: center;
    }
}

@media (max-width: 1250px) {
   .menu-links a {
     font-size: 0.9em;
   }
   .logo {
     width: 120px;
   }
}
