@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* MainPage.css */

.main {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display: flex;
    align-items: center; /* Wyśrodkowanie elementów w pionie */
    background-color: rgba(0, 0, 0, 0.5); /* Czarny z 50% przezroczystości */
    padding: 15px 30px; /* Padding wewnętrzny, aby zwiększyć przestrzeń po bokach */
    width: 100%; /* Szerokość nawigacji */
    gap: 30px; /* Odstęp między elementami */
}

.logo-container {
    display: flex;
    align-items: center; /* Wyśrodkowanie logo i tekstu w pionie */
    margin-right: 20px; /* Odstęp od linków nawigacji */
}

.logo {
    height: 40px; /* Dostosuj wysokość loga */
    width: auto; /* Zachowaj proporcje */
    margin-right: 10px; /* Odstęp między logo a tekstem */
}

.main a {
    text-decoration: none; /* Usunięcie podkreślenia */
    color: #fff; /* Kolor tekstu linków (biały) */
    padding: 10px 15px; /* Padding dla linków */
    border-radius: 5px; /* Zaokrąglone rogi */
    transition: background-color 0.3s, color 0.3s; /* Płynna zmiana tła i koloru */
    white-space: nowrap; /* Zapobiegaj zawijaniu tekstu */
}

.main a:hover {
    background-color: #d4af37; /* Zmiana tła po najechaniu */
    color: #1E1E1E; /* Zmiana koloru tekstu po najechaniu */
}

/* Dodatkowe style, aby nawigacja wyglądała dobrze na większych ekranach */
@media (min-width: 768px) {
    .main {
        padding: 20px 40px; /* Większy padding na większych ekranach */
    }
}




