.main-page {
  display: flex;
  height: auto;
  min-height: 100vh;
}


.content {
    flex-grow: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
}

.tiles {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1024px) {


  .portfolio-details {
    width: 90%;
    padding: 20px;
  }

  .tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .tiles > * {
    flex: 1 1 45%;
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .portfolio-details h1 {
    font-size: 24px;
    text-align: center;
  }

  .tiles {
    flex-direction: column;
    align-items: center;
  }

  .tiles > * {
    width: 100%;
    max-width: 350px;
  }

  .about-us__header h1 {
    font-size: 22px;
  }

  .about-us__section {
    padding: 10px;
  }

  .about-us__text h2 {
    font-size: 20px;
  }

  .about-us__text p {
    font-size: 14px;
  }

  .about-us__section ul {
    padding-left: 15px;
  }

  .about-us__section ul li {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media (max-width: 480px) {

  .tiles > * {
    width: 100%;
  }

  .about-us__header h1 {
    font-size: 20px;
  }

  .about-us__header p {
    font-size: 14px;
  }

  .about-us__section h2 {
    font-size: 18px;
  }

  .about-us__section p {
    font-size: 13px;
  }

  .about-us__section ul li {
    font-size: 13px;
  }
}
