.table-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.table-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr 1.5fr 1fr;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid #333;
  font-weight: bold;
  padding: 10px 0;
  text-align: left;
  color: #d4af37;
}


.table-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr 1.5fr 1fr;
  padding: 15px 0;
  border-bottom: 1px solid #333;
  align-items: center;
}


.header-cell, .cell {
  padding: 10px;
  color: #fff;
}

.cell button {
text-decoration: none;
  color: #fff;
  background-color: #d4af37;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}


.currency-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}


.currency-name {
  font-weight: bold;
  margin-right: 5px;
  color: #d4af37;
}


.currency-symbol {
  font-size: 0.85em;
  color: #aaa;
}


.currency-change.positive {
  color: #4caf50;
}

.currency-change.negative {
  color: #f44336;
}


.table-container > .table-row:first-of-type {
  border-top: 2px solid #333;
}


.table-container {
  background-color: rgba(0, 0, 0, 0.9);
}

.table-header, .table-row {
  border-color: #444;
}

.table-row:hover {
  background-color: #333;
  transition: background-color 0.3s ease;
}



.table-header, .currency-name {
  color: #d4af37;
}


.table-title {
  font-family: 'Cinzel', serif;
  font-size: 2em;
  color: #d4af37;
  margin-bottom: 20px;
  text-align: center;
}


.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #d4af37;
  border-radius: 12px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  transition: border-color 0.3s;
}

.search-input::placeholder {
  color: #aaa;
}


.search-input:focus {
  outline: none;
  border-color: #fff;
}

.pagination-controls button {
  background-color: #d4af37;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}


.pagination-controls button:hover {
  background-color: #b5942a;
  transform: scale(1.05);
}


.pagination-controls button:disabled {
  background-color: rgba(212, 175, 55, 0.5);
  cursor: not-allowed;
}