.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;

}

.header {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-bottom: 2rem;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: url('../assets/ScreenLoginRegister.png') no-repeat center center;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: black;
}

.header p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: black;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: black;
}

.button {
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: var(--primary-color-dark);
}

.features {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
  margin-top: 2rem;
}

.feature {
  background: url('../assets/ScreenLoginRegister.png') no-repeat center center;
  border-radius: 10px;
  padding: 2rem;
  width: 45%;
  margin: 1rem;
  text-align: left;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature:hover {
  transform: translateY(-10px);
}

.feature img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.feature p {
  font-size: 1rem;
  color: black;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 768px) {
  .header, .features {
    width: 90%;
  }

  .feature {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1rem;
  }
}
