/* Stylizacja głównej strony ustawień */
.settings-page {
  display: flex;
  min-height: 100vh;
  background-color: #f4f6f8;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal
}

/* Sidebar z opcjami ustawień */
.settings-page .user-settings-sidebar {
  width: 250px;
  background-color: #2c3e50;
  padding: 20px;
  color: white;
}

.settings-page .user-settings-sidebar a {
  display: block;
  padding: 10px;
  margin: 10px 0;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.settings-page .user-settings-sidebar a:hover {
  background-color: #34495e;
}

/* Główna zawartość ustawień */
.settings-content {
  flex: 1;
  background-image: url('../../assets/3601908.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
