.wallet-page {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.balance-section {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.balance-section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.balance-section p {
  font-size: 18px;
  color: #666;
}


.add-funds-form {
  margin-top: 20px;
}

.add-funds-form input[type="number"],
.add-funds-form input[type="text"],
.add-funds-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.add-funds-form button {
  width: 100%;
  padding: 12px;
  background-color: #d4af37;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.add-funds-form button:hover {
  filter: brightness(0.9);
}


.balance-display {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}


