.wallet-page {
  flex: 1;
  display: flex;
  align-items: left;
  justify-content: left;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-left: -20px;
}

.wallet-price {
  margin-left: 20px;
  font-size: 1.4em;
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.balance-section {
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.balance-section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.balance-section p {
  font-size: 18px;
  color: #666;
}


.add-funds-form {
  margin-top: 20px;
}



.add-funds-form button {
  width: 100%;
  padding: 12px;
  background-color: #d4af37;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.add-funds-form button:hover {
  filter: brightness(0.9);
}


.balance-display {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}


