* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;

}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.App {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.nav-link, .nav-button {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.7rem 1.5rem;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: 2px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.nav-link:hover, .nav-button:hover {
  background-color: #d4af37;
  transform: scale(1.05);
}

.nav-button {
  background-color: #d4af37;
}

.nav-button:hover {
  background-color: #c53700;
}

.navbar, .nav-button {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



