.error-message {
    color: var(--error-color);
    margin-top: 10px;
}

.success-message {
    color: var(--success-color);
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--font-color-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: navy;
}
